{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block script %}

<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/162610/menuStyle.css">

{% endblock %}




{% block main %}



<body>






  <!--OVERLAY DIV-->
  <div class="overlayBG">
  </div>
  <!--POPUP DIV-->
  <div class="popup">
    <h4>Item info</h4>
    <button>Close</button>
  </div>
  <br />


  <!-- CUSTOMER MENU CONTAINER  -->
  <div id="container" class="dropWindow">
    <!-- TOP WHITE TITLE BAR -->
    <div class="titlebar">

      <h1 class="title">Thank you</h1>

    </div>
    <div class="paymentText">

      <h2 class="title">You may split the check  below by selecting the arrows.</h2>





    </div>

    <div class="splitCheckEdge">
    </div>

    <div class="splitCheckPane">
          <br />
      <div class="topCheck">
        <h7> CHECK 1 </h7>
      </div>



      {% for each in order.menu_items.all %}

      <h7> {{ each.name }} {{ each.price }}</h7><br />

      {% endfor %}


      <button>Add Tip</button>
    </div>

    <div class="splitCheckPane">
                <br />
      <div class="topCheck">
        <h7> CHECK 2 </h7>
      </div>

      <button>Add Tip</button>
    </div>

    <div class="splitCheckPane">
                <br />
      <div class="topCheck">
        <h7> CHECK 3 </h7>
    </div>

      <button>Add Tip</button>
    </div>

    <div class="splitCheckPane">
                <br />
      <div class="topCheck">
        <h7> CHECK 4 </h7>
      </div>

      <button>Add Tip</button>


    </div>

    <div class="splitCheckEdge">
    </div>

    <div class="paymentText">
		<!-- Facebook Button -->




		<!-- Twitter Button -->
		<a href="https://twitter.com/intent/tweet?button_hashtag=JaneKeyesItalianDiner&text=I%20just%20ate%20at%20" class="twitter-hashtag-button" data-size="large">Tweet About Us!</a>
		<script>
			!function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location)?'http':'https';
				if(!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = p+'://platform.twitter.com/widgets.js';
					fjs.parentNode.insertBefore(js,fjs);
				}
			}(document, 'script', 'twitter-wjs');
		</script>




      <div class="ui-widget">
        <label for="tags">Enter your email to sign up for our newsletter: </label>
        <input id="tags">
        <br />
      </div>



        <div class="ui-widget">
            <br /><br />
            <label for="tags">If you have any feedback please leave it here: </label>

            <label for="textarea-a"></label>
            <textarea name="textarea" id="textarea-a">

            </textarea>


        </div>

        <div class="payment">
        <button>Pay Check</button>
        </div>



	</div>







    <!--WHITE BASE BAR-->
    <div class="basebar">
      <br />
      <br />
    </div>
  </div>


</body>


{% endblock %}
