{% extends "base.html" %}

{% block style %}
<style>
h7 {
    width: 100%;
    font-size: 110%;
}
h7 a {
    color: black;
}
</style>
{% endblock %}

{% block script %}

<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/162610/menuStyle.css">
<script>

items = []

function move_item_right(itemID) {
    id = -1;
    $.each(items, function(key, value) {
        if (value[0] == itemID) {
            id = key
        }
    })
    //console.log(items[id][3] + ' -> ')
    items[id][3] = ((parseInt(items[id][3])) % 4) + 1
    //console.log(items[id][3])
}

function update_items() {
    $('#itemList1').empty()
    $('#itemList2').empty()
    $('#itemList3').empty()
    $('#itemList4').empty()
    subtotal = [0,0,0,0]
    $.each(items, function(key,value) {
        $("#itemList"+value[3]).append("<h7><a class='item' href='#' name='"+value[0]+"'>"+value[1]+"</a><span style='float: right;'>$"+value[2]+"</h7><br>")
        subtotal[value[3]-1] += value[2]
    })

    console.log(subtotal)

    $.each(subtotal, function(key, value) {
        $('#subtotal' + key).empty()
        $('#subtotal' + key).append('hi')
    })



    $("a.item").click(function(event) {
        console.log($(this).text())
        move_item_right($(this).attr("name"))
        console.log(items)
        update_items()
        event.preventDefault();
    })
}
$(function() {
{% for item in order.menu_items.all %}
    items.push([{{item.id}}, "{{item.name}}", {{item.price}}, 1]);
{% endfor %}

    update_items()
})
</script>

{% endblock %}




{% block main %}



<body>






  <!--OVERLAY DIV-->
  <div class="overlayBG">
  </div>
  <!--POPUP DIV-->
  <div class="popup">
    <h4>Item info</h4>
    <button>Close</button>
  </div>
  <br />


  <!-- CUSTOMER MENU CONTAINER  -->
  <div id="container" class="dropWindow">
    <!-- TOP WHITE TITLE BAR -->
    <div class="titlebar">

      <h1 class="title">Thank you</h1>

    </div>
    <div class="paymentText">

      <h2 class="title">You may split the check  below by selecting the arrows.</h2>





    </div>

    <div class="splitCheckEdge">
    </div>

    <div class="splitCheckPane">
          <br />
      <div class="topCheck">
        <h7> CHECK 1 </h7>
      </div>


      <div id="itemList1">

      </div>
      <div id="subtotal1"></div>

      <button>Add Tip</button>
    </div>

    <div class="splitCheckPane">
                <br />
      <div class="topCheck">
        <h7> CHECK 2 </h7>
      </div>

      <div id="itemList2">

      </div>
      <div id="subtotal2"></div>
      <button>Add Tip</button>
    </div>

    <div class="splitCheckPane">
                <br />
      <div class="topCheck">
        <h7> CHECK 3 </h7>
    </div>
    <div id="itemList3">

    </div>
    <div id="subtotal3"></div>
      <button>Add Tip</button>
    </div>

    <div class="splitCheckPane">
                <br />
      <div class="topCheck">
        <h7> CHECK 4 </h7>
      </div>
      <div id="itemList4">

      </div>
      <div id="subtotal4"></div>
      <button>Add Tip</button>


    </div>

    <div class="splitCheckEdge">
    </div>

    <div class="paymentText">
		<!-- Facebook Button -->




		<!-- Twitter Button -->
		<a href="https://twitter.com/intent/tweet?button_hashtag=JaneKeyesItalianDiner&text=I%20just%20ate%20at%20" class="twitter-hashtag-button" data-size="large">Tweet About Us!</a>
		<script>
			!function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location)?'http':'https';
				if(!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = p+'://platform.twitter.com/widgets.js';
					fjs.parentNode.insertBefore(js,fjs);
				}
			}(document, 'script', 'twitter-wjs');
		</script>




      <div class="ui-widget">
        <label for="tags">Enter your email to sign up for our newsletter: </label>
        <input id="tags">
        <br />
      </div>



        <div class="ui-widget">
            <br /><br />
            <label for="tags">If you have any feedback please leave it here: </label>

            <label for="textarea-a"></label>
            <textarea name="textarea" id="textarea-a">

            </textarea>


        </div>

        <div class="payment">
        <button>Pay Check</button>
        </div>



	</div>







    <!--WHITE BASE BAR-->
    <div class="basebar">
      <br />
      <br />
    </div>
  </div>


</body>


{% endblock %}
