{% extends "base.html" %}
{% load mathfilters %}
{% block style %}
<style>
h7 {
    width: 100%;
    font-size: 110%;
}
h7 a {
    color: black;
}
#subtotal1, #subtotal2, #subtotal3, #subtotal4 {
    color: black;
    padding: 10px;
}

.tip_buttons1, .tip_buttons2, .tip_buttons3, .tip_buttons4 {
    color: black;
    padding-left: 5px;
}

#tip1, #tip2, #tip3, #tip4 {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
#tax1, #tax2, #tax3, #tax4 {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
#total1, #total2, #total3, #total4 {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
</style>
{% endblock %}

{% block script %}

<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/162610/menuStyle.css">
<script>

items = []
tip = [0,0,0,0]
comped = {% if comped %}true{% else %}false{% endif %};

function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

function move_item_right(itemID) {
    id = -1;
    $.each(items, function(key, value) {
        if (value[0] == itemID) {
            id = key
        }
    })
    //console.log(items[id][3] + ' -> ')
    items[id][3] = ((parseInt(items[id][3])) % 4) + 1
    //console.log(items[id][3])
}

function update_items() {
    $('#itemList1').empty()
    $('#itemList2').empty()
    $('#itemList3').empty()
    $('#itemList4').empty()
    $('#tip1').empty()
    $('#tip2').empty()
    $('#tip3').empty()
    $('#tip4').empty()
    $('#tax1').empty()
    $('#tax2').empty()
    $('#tax3').empty()
    $('#tax4').empty()
    $('#total1').empty()
    $('#total2').empty()
    $('#total3').empty()
    $('#total4').empty()
    subtotal = [0,0,0,0]
    var num_entrees = 0;
    var kids_items = ["Kid's Cheese Pizza", "Kid's Freedom Fries", "Kid's California Style Pizza"]
    $.each(items, function(key, value) {
      var decoded = $('<div/>').html(value[1]).text();
      if(value[4] == 'Entrees') {
        if ($.inArray(decoded, kids_items) < 0) {
          num_entrees += 1
        }
      }
    })
    $.each(items, function(key, value) {
      var decoded = $('<div/>').html(value[1]).text();
      if (num_entrees > 0) {
        if ($.inArray(decoded, kids_items) >= 0) {
          items[key][2] = 0.00
          num_entrees -= 1
        }
      }
    })
    $.each(items, function(key,value) {

        $("#itemList"+value[3]).append("<h7><a class='item' href='#' name='"+value[0]+"'>"+value[1]+"</a><span style='float: right;'>$"+value[2]+"</h7><br>")
        subtotal[value[3]-1] += value[2]
    })

    //console.log(subtotal)

    $.each(subtotal, function(key, value) {
        _key = key+1
        $('#subtotal' + _key).empty()
        $('#subtotal' + _key).append('<strong>Subtotal</strong> <span style="color: black; float: right">$'+subtotal[key].toFixed(2)+'</span>')
        var tipval = subtotal[key] * tip[key]
        var tax = subtotal[key] * 0.0825
        $('#tip' + _key).append("Tip <span style='color: black; float: right'>$"+tipval.toFixed(2)+'</span>')
        $('#tax' + _key).append("Tax <span style='color: black; float: right'>$"+tax.toFixed(2)+"</span>")

        var total = subtotal[key] + tax + tipval;
        if (comped) {
            $('#total' + _key).append("<strong>Total</strong> <span style='color: black; float: right'>COMPED</span>")
        }
        else {
            $('#total' + _key).append("<strong>Total</strong> <span style='color: black; float: right'>$"+total.toFixed(2)+"</span>")
        }
    })



    $("a.item").click(function(event) {
        console.log($(this).text())
        if (!("togo" in getUrlVars())) { 
            move_item_right($(this).attr("name"))
            //console.log(items)
            update_items()
        }
        event.preventDefault();
    })
}
$(function() {
  $("#nameBox").hide();
  if("togo" in getUrlVars()){
    $("h2.title").text("Here's your To-Go order!");
    $("#check2").hide();
    $("#check3").hide();
    $("#check4").hide();
    $("#check1").css("width","97.8%");
    $("#nameBox").show();

  }
  else{
    $("h2.title").text("You may split the check  below by clicking on items.");
  }


{% for item in order.menu_items.all %}
    items.push([{{item.id}},
                "{{item.name}}",
                {% if date|date:"G"|add:"0" >= 16 and date|date:"G"|add:"0" < 19 and item.category.name == 'Drinks' %}
                {{item.price|div:2|floatformat:2 }},
                {% else %}
                {{item.price }},
                {% endif %}
                1,
                '{{item.category.name}}']);
{% endfor %}

    update_items()

    $('button').button().click(function(event) {
        var btncls = $(this).parent().attr("class")
        var cls = btncls.slice(0, -1)
        var num = btncls.slice(-1)

        if (cls == "tip_buttons") {
            var text = $(this).text()
            var percent = text.slice(0,-1)
            percent = parseInt(percent)
            percent = percent / 100
            tip[num-1] = percent
            update_items()
        }

    })
    $("button").button().click(function(event){
      if($(this).attr("id")=="pay_button"){
      var rtax1 = subtotal[0]*.0825;
      var rtip1 = tip[0]*subtotal[0];
      var rtotal1 = subtotal[0]*(1+.0825)*(1+tip[0]);

      $.each(items, function(key, value) {
        $('#rMenu' + value[3]).append("<h4 style='color:black; padding-right:10px;'>"+value[1]+"<span style='float: right; color: black'>"+value[2]+"</span></h4>");
      })
      $("#rTax1").append(rtax1.toFixed(2));
      $("#rTip1").append(rtip1.toFixed(2));
      $("#rTotal1").append(rtotal1.toFixed(2));
      $("#receipt1").css("display", "block");
      $("#1pay").append($("input[name=cashcredit1]:checked").val());
      if("togo" in getUrlVars()){
        var togoName = $('input[name="nameBoxValue"]').val();
        $("#receiptName").text("Thank you for ordering " + togoName);
        $("#receipt1").css({left:675});
        return;
      }
      var rtax2 = subtotal[1]*.0825;
      var rtip2 = tip[1]*subtotal[0];
      var rtotal2 = subtotal[1]*(1+.0825)*(1+tip[1]);
      $("#rTax2").append(rtax2.toFixed(2));
      $("#rTip2").append(rtip2.toFixed(2));
      $("#rTotal2").append(rtotal2.toFixed(2));
      $("#receipt2").css("display", "block");
      $("#2pay").append($("input[name=cashcredit2]:checked").val());

      var rtax3 = subtotal[2]*.0825;
      var rtip3 = tip[2]*subtotal[0];
      var rtotal3 = subtotal[2]*(1+.0825)*(1+tip[2]);
      $("#rTax3").append(rtax3.toFixed(2));
      $("#rTip3").append(rtip3.toFixed(2));
      $("#rTotal3").append(rtotal3.toFixed(2));
      $("#receipt3").css("display", "block");
      $("#3pay").append($("input[name=cashcredit3]:checked").val());

      var rtax4 = subtotal[3]*.0825;
      var rtip4 = tip[3]*subtotal[0];
      var rtotal4 = subtotal[3]*(1+.0825)*(1+tip[3]);
      $("#rTax4").append(rtax4.toFixed(2));
      $("#rTip4").append(rtip4.toFixed(2));
      $("#rTotal4").append(rtotal4.toFixed(2));
      $("#receipt4").css("display", "block");
      $("#4pay").append($("input[name=cashcredit4]:checked").val());
    }
    });
})
</script>

{% endblock %}




{% block main %}



<body>


  <!--OVERLAY DIV-->
  <div class="overlayBG">
  </div>
  <!--POPUP DIV-->
  <div class="popup">
    <h4>Item info</h4>
    <button>Close</button>
  </div>
  <br />


  <!-- CUSTOMER MENU CONTAINER  -->
  <div id="container" class="dropWindow">
    <!-- TOP WHITE TITLE BAR -->
    <div class="titlebar">

      <h1 class="title">Thank you</h1>

    </div>
    <div class="paymentText">

      <h2 class="title"></h2>


    </div>

    <div class="splitCheckEdge">
    </div>
    <div id="receipt1" style="border: solid black 3px; color:black; display:none;width: 300px; height:500px; position:fixed; top:200px; left:250px; z-index:1;background-color:white; ">
      <h2 style="color:black">Receipt</h2>
      <h3 style="color:black; font-size:20px;"id="receiptName"></h3>
      <p id="rMenu1" ></p>
      <p id="rTax1" >Tax: </p>
      <p id="rTip1" >Tip: </p>
      <p id="rTotal1" >Total: </p>
      <h1 id="1pay" style="color:green;"></h1>
      <a href=".."><button>Main Screen</button></a>
    </div>

    <div id="receipt2" style=" border: solid black 3px; color:black; display:none;width: 300px; height:500px; position:fixed; top:200px; left:550px; z-index:1;background-color:white; ">
      <h2 style="color:black";>Receipt</h2>
      <p id="rMenu2" ></p>
      <p id="rTax2" >Tax: </p>
      <p id="rTip2" >Tip: </p>
      <p id="rTotal2" >Total: </p>
      <h1 id="2pay" style="color:green;"></h1>
    </div>

    <div id="receipt3" style=" border: solid black 3px; color:black; display:none;width: 300px; height:500px; position:fixed; top:200px; left:850px; z-index:1;background-color:white; ">
      <h2 style="color:black";>Receipt</h2>
      <p id="rMenu3" ></p>
      <p id="rTax3" >Tax: </p>
      <p id="rTip3" >Tip: </p>
      <p id="rTotal3" >Total: </p>
      <h1 id="3pay" style="color:green;"></h1>
    </div>

    <div id="receipt4" style=" border: solid black 3px; color:black; display:none;width: 300px; height:500px; position:fixed; top:200px; left:1150px; z-index:1;background-color:white; ">
      <h2 style="color:black";>Receipt</h2>
      <p id="rMenu4" ></p>
      <p id="rTax4" >Tax: </p>
      <p id="rTip4" >Tip: </p>
      <p id="rTotal4" >Total: </p>
      <h1 id="4pay" style="color:green;"></h1>
    </div>
    <div id="check1" class="splitCheckPane">
          <br />
      <div class="topCheck">
        <h7> CHECK 1 </h7>
      </div>


      <div id="itemList1">

      </div>
      <div id="subtotal1"></div>
      <div id="tip1"></div>
      <div id="tax1"></div>
      <div id="total1"></div>
      <div class="tip_buttons1">Tip <button>5%</button><button>10%</button><button>15%</button><button>20%</button></div>
      <div style="color: black"><input type="radio" name="cashcredit1" value="CASH" checked="checked">Cash <input type="radio" name="cashcredit1" value="CREDIT">Credit</div>
      <input placeholder="Enter your name" type="text" name="nameBoxValue" id="nameBox"></input>
    </div>

    <div id="check2" class="splitCheckPane">
                <br />
      <div class="topCheck">
        <h7> CHECK 2 </h7>
      </div>

      <div id="itemList2">

      </div>
      <div id="subtotal2"></div>
      <div id="tip2"></div>
      <div id="tax2"></div>
      <div id="total2"></div>
      <div class="tip_buttons2">Tip <button>5%</button><button>10%</button><button>15%</button><button>20%</button></div>
      <div style="color: black"><input type="radio" name="cashcredit2" value="CASH" checked="checked">Cash <input type="radio" name="cashcredit2" value="CREDIT">Credit</div>
    </div>

    <div id="check3" class="splitCheckPane">
                <br />
      <div class="topCheck">
        <h7> CHECK 3 </h7>
    </div>
    <div id="itemList3">

    </div>
    <div id="subtotal3"></div>
    <div id="tip3"></div>
    <div id="tax3"></div>
    <div id="total3"></div>
    <div class="tip_buttons3">Tip <button>5%</button><button>10%</button><button>15%</button><button>20%</button></div>
    <div style="color: black"><input type="radio" name="cashcredit3" value="CASH" checked="checked">Cash <input type="radio" name="cashcredit3" value="CREDIT">Credit</div>
    </div>

    <div id="check4" class="splitCheckPane">
                <br />
      <div class="topCheck">
        <h7> CHECK 4 </h7>
      </div>
      <div id="itemList4">

      </div>
      <div id="subtotal4"></div>
      <div id="tip4"></div>
      <div id="tax4"></div>
      <div id="total4"></div>
      <div class="tip_buttons4">Tip <button>5%</button><button>10%</button><button>15%</button><button>20%</button></div>
      <div style="color: black"><input type="radio" name="cashcredit4" value="CASH" checked="checked">Cash <input type="radio" name="cashcredit4" value="CREDIT">Credit</div>

    </div>

    <div class="splitCheckEdge">
    </div>

    <div class="paymentText">
		<!-- Facebook Button -->




		<!-- Twitter Button -->
		<a href="https://twitter.com/intent/tweet?button_hashtag=JaneKeyesItalianDiner&text=I%20just%20ate%20at%20" class="twitter-hashtag-button" data-size="large">Tweet #JaneKeyesItalianDiner</a>
		<script>
			!function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location)?'http':'https';
				if(!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = p+'://platform.twitter.com/widgets.js';
					fjs.parentNode.insertBefore(js,fjs);
				}
			}(document, 'script', 'twitter-wjs');
		</script>
    <img src="http://i.imgur.com/kMQDjbI.png"></img>




      <div class="ui-widget">
        <label for="tags">Enter your email to sign up for our newsletter: </label>
        <input id="tags"><input type="radio" name="emailR" value="true">Email Receipt</input>
        <br />
      </div>



        <div class="ui-widget">
            <br /><br />
            <label for="tags">If you have any feedback please leave it here: </label>

            <label for="textarea-a"></label>
            <textarea name="textarea" id="textarea-a">

            </textarea>


        </div>

        <div class="payment">
          <br>
        <button id="pay_button">Pay Check</button>
        </div>



	</div>







    <!--WHITE BASE BAR-->
    <div class="basebar">
      <br />
      <br />
    </div>
  </div>


</body>


{% endblock %}
