{% extends "base.html" %}

{% block style %}
<style>
    #infoImage img {
        max-width: 175px;
        float: left;
        padding-right: 10px;
        height: auto;
    }
    #infoText #topLine {
        font-size: 120%;
    }
    #closeButton {
        clear: both;
        float: right;
    }
    #nutritionalInfo {
        clear: both;
        margin-right: 0;
        padding-left: 185px;
    }
    #nutritionalInfo span {
        float: right;
    }
    #placeorder {
        float: right;
    }
</style>
{% endblock %}

{% block script %}

<!--JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/utils/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/plugins/CSSPlugin.min.js"></script>
<script src="https://dl.dropboxusercontent.com/u/63798944/wheel.js"></script>
<!--CSS-->
<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/162610/menuStyle.css">
<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/63798944/wheel.css">
<!--Script-->
<script>
  function update_cart() {
  	var elem = $('div.order')
  	elem.empty();
      console.log(orders)

  	//$('div.order').append('<h4>'+item+'<span style="float:right">'+price+'</span></h4>  ')
  	subtotal = 0
  	$.each(orders, function (index, value) {
  		elem.append('<h4 class="cartItem"><a href="#" name="'+index+'">'+value[0]+'</a><span style="float:right">'+value[1]+'</span></h4>  ')
          subtotal += parseFloat(value[1].slice(1))
  	})

  	elem.append("<div id='subtotal'><span style='font-weight: bold'>Subtotal</span><span style='float: right'>"+subtotal.toFixed(2)+"</span></div>")
  	  // cart item onclick for removal
  	  $(".cartItem a").click(function(event) {
  	  	console.log("clicked "+$(this).attr("name"))
  	  	orders.splice(parseInt($(this).attr("name")), 1)
  	  	update_cart()
        if (orders.length == 0) {
            $('#subtotal').remove()
            $('#placeorder').remove()
        }
  	  	event.preventDefault();
  	  })
    elem.append("<div id='placeorder'><button name='placeorder'>Place Order</button></div>")

    $("#placeorder button").button().click(function(event) {
        item_ids = []
        $.each(orders, function (index, value) {
            item_ids.push(value[2])
        })
        $.post("/place_order/", {items: item_ids}, function(data) {
            alert("Order placed successfully!")
            location.href = "/standby";
        });
    })
  }

  orders = [];

  $(function() {

    // Show appitizer menu
    $( ".b1" ).button().click(function(event) {
      $( ".Appetizers" ).show();
      $( ".Entrees" ).hide();
      $( ".Drinks" ).hide();
      $( ".Desserts" ).hide();
      $( ".startPane" ).hide();
    });
    // Show entrees menu
    $( ".b2" ).button().click(function(event) {
      $( ".Appetizers" ).hide();
      $( ".Entrees" ).show();
      $( ".Drinks" ).hide();
      $( ".Desserts" ).hide();
      $( ".startPane" ).hide();
    });
    // Show drink menu
    $( ".b4" ).button().click(function(event) {
      $( ".Appetizers" ).hide();
      $( ".Entrees" ).hide();
      $( ".Drinks" ).show();
      $( ".Desserts" ).hide();
      $( ".startPane" ).hide();
    });
    // Show desert menu
    $( ".b3").button().click(function(event) {
      $( ".Appetizers" ).hide();
      $( ".Entrees" ).hide();
      $( ".Drinks" ).hide();
      $( ".Desserts" ).show();
      $( ".startPane" ).hide();
    });

    $( "input[type=submit], a, button" ).button().click(function( event ) {
      var buttonText = $(this).text();
      if (buttonText == "Info") {
          var itemID = $(this).parents('h5').children('.itemInfo').attr("name");
          $.ajax({
             url: '/menuitem_details/',
             type: 'POST',
             data: {itemID: itemID},
             success: function(json) {
                 data = json.fields;
                 console.log(data)
                 $('.popup div#infoContainer').empty();
                 $('.popup div#infoContainer').append('<div id="infoImage"><img src="'+data.image+'"/></div>')
                 $('.popup div#infoContainer').append('<div id="infoText"></div>')
                 $('.popup div#infoText').append('<div id="topLine"><strong>'+data.name+'</strong><span style="float: right">$'+data.price+'</span></div>');
                 $('.popup div#infoText').append('<div>'+data.description+'</div>');
                 $('.popup div#infoContainer').append('<div id="nutritionalInfo"></div>')
                 $('.popup div#nutritionalInfo').append('<div><strong>Nutrition Facts</strong></div>')
                 $('.popup div#nutritionalInfo').append('<div>Calories <span>'+data.calories+'</span></div>')
                 $('.popup div#nutritionalInfo').append('<div>Fat (g) <span>'+data.fat_grams+'</span></div>')
                 $('.popup div#nutritionalInfo').append('<div>Sodium (mg) <span>'+data.sodium_mg+'</span></div>')
                 //$('.popup div#infoContainer').append('<h4 id="info_text">'+data.name+' '+data.description+' '+data.price+'</h4>');
                 $('.overlayBG').show();
                 $('.popup').show();
             }
          });

        // below is no longer needed
        //var itemInfo = $(this).parents('h5').children('.itemInfo').text();
        //var split = itemInfo.split(":");
        //var item = $.trim(split[0])
        //var price = $.trim(split[1])

      }
      if (buttonText == "Add") {
        // stuff for adding to the sidebar
        var itemInfo = $(this).parents('h5').children('.itemInfo').text();
        var split = itemInfo.split(":");
        var item = $.trim(split[0])
        var price = $.trim(split[1])
        var id = $(this).parents('h5').children('.itemInfo').attr("name")
        orders.push([item, price, id])
        update_cart()
      }
      if (buttonText == "Close") {
        $('.overlayBG').hide();
        $("#info_text").remove();
        $('.popup').hide();
      }
      $('.overlayBG').click(function() {
        $('.overlayBG').hide();
        $('.popup').hide();
      });
      event.preventDefault();
    });
  });
</script>

{% endblock %}

{% block main %}

<body>

  <!--OVERLAY DIV-->
  <div class="overlayBG">
  </div>
  <!--POPUP DIV-->
  <div class="popup">
    <div id="infoContainer">Item info</div>
    <div id="closeButton"><button>Close</button></div>
  </div>

  <br />
  <!-- CUSTOMER MENU CONTAINER  -->
  <div id="container" class="dropWindow">
    <div class="titlebar">
      <br />
      <h1 class="title">Welcome to Jane Keyes's Italian Restaraunt!</h1>
      <br />
    </div>
    <!-- MENU SELECT  -->
    <div class="section">
      <div class="price">
        <h2> Menu </h2>
      </div>
      <div class="infos">
      {% for category in categories %}
        {% if category.parent == None %}
          <h3 class="b{{counter.increment_and_return}}">{{ category.name}}</h3>
        {% endif %}
       {% endfor %}
      </div>
    </div>

    {% for category in categories %}
    {% if category.parent == None %}
   	<div class="{{ category.name}}">
   		<div class="section2">
   			<h2>{{category.name}}</h2>
   			{% for each in all_menu_items %}
   				{% if each.category.name == category.name or each.category.name == category.parent.name and each.in_stock %}
            <h5><span name="{{ each.id  }}" class="itemInfo">{{ each.name }}  : ${{ each.price }} </span>
              <right>  <span style="float: right"><button>Info</button><button>Add</button></span></h5></right>
            <h6>{{ each.description }} </h6>
   				{% endif %}
   			{% endfor %}
   		</div>
    </div>
    {% endif %}
    {% endfor %}

    <!-- WELCOME CENTER START PANE -->
    <div class="startPane">
      <div class="section2">
        <h2>Welcome!</h2>
        <center><h4>Select from the menu or drag from the wheel.</h4></center>
      </div>
    </div>
    <!-- RIGHT MENU / ORDER SECTION  -->
    <div class="order">
    </div>
    <!--WHITE BASE BAR-->
    <div class="basebar">
      <br />
      <br />
    </div>
  </div>
  <!--WHEEL-->
      <div id="wheelContainer">
      <img id="back" class="wheelTrigger wheelRotate" src="http://udisglutenfree.com/wp-content/themes/udis/static/udis/images/circle.png">
      <img id="category1" class="wheelCategory wheelRotate wheelOrigin" src="http://i.imgur.com/MIWfiYG.png" draggable="true">
      <img id="category2" class="wheelCategory wheelRotate wheelOrigin" src="http://i.imgur.com/O2fwbIE.png" draggable="true">
      <img id="category3" class="wheelCategory wheelRotate wheelOrigin" src="http://i.imgur.com/0j8mZBw.png" draggable="true wheelOrigin">
      <img id="category4" class="wheelCategory wheelRotate wheelOrigin" src="http://i.imgur.com/4Q5rzfa.png" draggable="true">
    </div>

</body>
{% endblock %}
