{% extends "base.html" %}
{%block script%}
	 <script>
	 $(function () {
		 $("button").button().click(function(event){
		 	var ID = $(this).attr("id");
		 	var name = $(this).attr("name");
		 	if(name == "claim"){
			 	$.post("/kitchen/claim/",{orderID: ID}, function(data) {
			 		location.reload()
				})
			}
			if(name == "ready"){
				var element = $(this).parents("td.closedOrder")
				element.removeClass("closedOrder");
				element.addClass("openOrder");
			 	$.post("/kitchen/ready/",{orderID: ID}, function(data) {
			 		location.reload()

			})

		 	}
		 })
	})

	 </script>
{% endblock %}

{% block style %}
	<style>
	#kitchenContainer{
		background-color: lightgray;
		border-radius:15px;
		border:1px solid black;
	}
	p span button{
		float:right;
	}
	td{
		vertical-align:top;
		padding:0;
		border-radius:15px;
		border:1px solid black;
		margin:5px;
		height:100%;

	}
	.openOrder{
		background-color: green;

	}
	.closedOrder{
		background-color: red;
	}
	</style>

{% endblock %}

{% block main %}
<a href="/kitchen/items/"><button>Menu Items Page</button></a>
<a href="/kitchen/ingredients/"><button>Ingredients Page</button></a>
	<h3>Logged in as {{user.name}}</h3>
	<div id="kitchenContainer">
		<h2>Open Orders</h2>
		<table>
			<tr>
				{% for order in unclaimed_orders %}
					<td  class = "openOrder">
						<p>Order #{{ order.id }}<span><button name="claim" id="{{order.id}}">Claim</button></span></p>
						<ul>
							<li>Table: {{ order.table.id }}</li>
							<li>Date: {{ order.date|date:"SHORT_DATETIME_FORMAT" }}
							<li>Items:
								<ul>
								{% for item in order.menu_items.all %}
									<li>{{ item.name }}</li>
								{% endfor %}
								</ul>
							</li>
						</ul>
					</td>
				{% endfor %}
			</tr>
		</table>
		<h2>My Orders</h2>
		<table>
			<tr>
			{% for order in associated_orders %}
				{% if order.status != "CL" and user.is_manager != True %}
				<td class="{% if order.status == "RD" %}openOrder{% else %}closedOrder{% endif %}">
					<p>Order #{{ order.id }}<span>{% if order.status != "RD" %}<button name="ready" id="{{order.id}}">Ready</button><span>{% endif %}</p>
					<ul>
						<li>Table: {{ order.table.id }}</li>
						<li>Date: {{ order.date|date:"SHORT_DATETIME_FORMAT" }}
						<li>Items:
							<ul>
							{% for item in order.menu_items.all %}
								<li>{{ item.name }}</li>
							{% endfor %}
							</ul>
						</li>
					</ul>
				</td>
			{% endif %}
			{% endfor %}
		</tr>
	</table>
{% endblock %}