<!doctype html>
<html lang="en">
<head>
  <title>Menu</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="style.css">
</head>


<body>





  
  <div id="container">


      <div class="section4">
<br />
<h1 class="title">Welcome to da Puckin Pizza Zone!, Fuck you!</h1>
<br />

      </div>









    <div class="section">
      <div class="price"> 
        <h2> Menu </h2> 
      </div>
      <div class="infos">
        <h3> Appitizers </h3>
        <h3> Drinks </h3>
        <h3> Entrees</h3>
        <h3> Deserts</h3>
      </div>

    </div>


    <div class="section2">
      <h1> Appetizers </h1>

        <h4> Chessy Sticks</h4>
        <h4> Fried Pickles </h4>
        <h4> Stuffed mushrooms </h4>
        <h4> Chips and Queso</h4>
        <h4> Dippin Sticks</h4>
        <h4> Pepporoni Pie</h4>

      <div class="base">
      </div>
    </div>

        <div class="section3">
      <h1> Current Items </h1>
      <div class="appetizers">
        <h4> Chessy Sticks</h4>
        <h4> Fried Pickles </h4>
        <h4> Stuffed mushrooms </h4>
        <h4> Chips and Queso</h4>
        <h4> Dippin Sticks</h4>
        <h4> Pepporoni Pie</h4>
      </div>
      <div class="pricefooter">
      </div>
    </div>





    </div>
  </div>
</body>
</html> 