<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Payment</title>

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/162610/menuStyle.css">

</head>






<body>

  <!--OVERLAY DIV-->
  <div class="overlayBG">
  </div>
  <!--POPUP DIV-->
  <div class="popup">
    <h4>Item info</h4>
    <button>Close</button>
  </div>
  <br />


  <!-- CUSTOMER MENU CONTAINER  -->
  <div id="container" class="dropWindow">
    <!-- TOP WHITE TITLE BAR -->
    <div class="titlebar">
      <br />
      <h1 class="title">Thank you</h1>
      <br />
    </div>
    <div class="paymentText">

      <h4 class="title">You may split the check  below by selecting the arrows.</h1>
    </div>

    <div class="splitCheckEdge">
    </div>

    <div class="splitCheckPane">
          <br />
      <div class="topCheck">
                 
      </div>
    </div>

    <div class="splitCheckPane">
                <br />
      <div class="topCheck">
          <h2>sdas</h2>
      </div>
    </div>

    <div class="splitCheckPane">
                <br />
      <div class="topCheck">

      </div>
    </div>

    <div class="splitCheckPane">
                <br />
      <div class="topCheck">

      </div>
    </div>

    <div class="splitCheckEdge">
    </div>

        <div class="paymentText">

      <h4 class="title">add cc buttons</h1>
    </div>

    

    <!--WHITE BASE BAR-->
    <div class="basebar">
      <br />
      <br />
    </div>
  </div>


</body>
</html>