{% extends "base.html" %}

{% block style %}

<script>
$(function() {
	$(".game").button().click(function(event) {
		$(".options").toggle();
	});
	
	$(".options").button().click(function(event) {
		$(".options").hide();
	});
	
	$(".refill").button().click(function(event) {
		$.post("/standby/refill/", {tableID: ID}, function(data) {
			location.reload()
		})
	});
	
	$(".help").button().click(function(event) {
		$.post("/standby/help/", {tableID: ID}, function(data) {
			location.reload()
		})
	});
});


</script>

<style>
body {
	background-color: black;
}

.game {
	background:linear-gradient(to bottom, #fa3e0f 5%, #000000 100%);
	background-color:#fa3e0f;
	border-radius:15px;
	display:inline-block;
	position: absolute;
	width: 180px;
	left: 15px;
	padding: 32px 32px;
	text-align:center;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:21px;
	font-weight:bold;
	text-decoration:none;
}

.pay {
	background:linear-gradient(to bottom, #fa3e0f 5%, #000000 100%);
	background-color:#fa3e0f;
	border-radius:15px;
	display:inline-block;
	position: absolute;
	width: 180px;
	right: 15px;
	padding: 32px 32px;
	text-align:center;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:21px;
	font-weight:bold;
	text-decoration:none;
}

.tictac {
	background-color: #ff00ff;
	display: inline-block;
	color: #ffffff;
	width: 200px;
	height: 200px;
	margin: auto auto;
}

.matching {
	background-color: #ff00ff;
	display: inline-block;
	color: #ffffff;
	width: 200px;
	height: 200px;
}

.options {
	display: none;
	width: 420px;
	margin: auto auto;
	padding-top: 100px;
}

.refill {
	background-color:#2bd95a;
	border-radius:42px;
	position: absolute;
	width: 180px;
	text-align:center;
	left: 15px;
	bottom: 15px;
	cursor:pointer;
	color:#000000;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:32px 32px;
	text-decoration:none;
}
.refill:active {
	bottom: 10px;
}

.help {
	background-color:#e32d2d;
	border-radius:42px;
	position: absolute;
	width: 180px;
	text-align:center;
	right: 15px;
	bottom: 15px;
	cursor:pointer;
	color:#000000;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:32px 32px;
	text-decoration:none;
}
.help:active {
	bottom: 10px;
}
</style>

{% endblock %}

{% block main %}

<!-- STANDBY PAGE -->
<div class="standby">
	<div class="game">Play a Game?</div>
	<div class="pay">Pay Bill</div>
	<div class="refill">Refill Request</div>
	<div class="help">Request Assistance</div>
	<div class="options">
		<div class="tictac">Tic-Tac-Toe!</div>
		<div class="matching">Card Matching!</div>
	</div>
</div>

{% endblock %}