

body{
  font-family: arial, verdana;
    background:#000;
  color:#fff;
  font-family: 'PT Sans Narrow', Arial, sans-serif;

  background-image: url(one.jpg);
  background-size:cover;

}

a{
  color:#fff;
  text-decoration:none;
}

img.ac_bgimage{
  position:fixed;
  left:0px;
  top:0px;
  opacity:0.8;
  display:none;
}

.ac_overlay{
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background:transparent url(pattern.png) repeat top left;
}


#container{
  width:940px;
  min-height:500px;
  margin:3% auto 0 auto;
}
.section{
  width:220px;
  background: linear-gradient(#555, #444);
  float:left;
  margin-top:.2%;
  box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
}
.section2{
  width:500px;
  background: linear-gradient(#555, #444);
  float:left;
  margin-top:.2%;
  box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
}
.section3{
  width:220px;
  background: linear-gradient(#555, #444);
  float:left;
  margin-top:.2%;
  box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
}


.apps{
  display:none; 
}
.entrees{
  display:none; 
}
.drinks{
  display:none; 
}
.deserts{
  display:none; 
}
.order{
  display:none; 
}


.price{
  width:120px;
  height:120px;
  border-radius:50%;
  border:1px solid #ff9547;
  margin:5% auto 0 auto;
  text-align:center;
}

.base{
  width:100%;
  height:50px;
  margin-top:10%;
  background:#333; 
}
h1{
  font-size:33px;
  color:#000;
  text-align:center;
  line-height:1.5;
}
h2{
  text-align:center;
  font-size:38px;
  color:#fff;
}
sub{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
h3{
  font-size:14px;
  font-weight:normal;
  text-align:center;
  color:#fff;
  line-height:1;
}
h3:hover{
  font-size:14px;
  font-weight:normal;
  text-align:center;
  color:#DFD;
  line-height:1;
}
h4{
    margin-left:10%;
  font-size:14px;
  font-weight:normal;
  text-align:left;
  color:#fff;
  line-height:1;
}
.titlebar{
  width:100%;
  min-width:500px;
    background: #fafafa;
  background-clip: padding-box;
  float:left;
  margin-top:.2%;
  border: solid #453b5d;
  border-width: 1px 1px 1px 1px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.button {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  background: #7c69a3;
  border: 1px solid #222;
  border-bottom-color: black;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9780cc, #6f5e96);
  background-image: -moz-linear-gradient(top, #9780cc, #6f5e96);
  background-image: -o-linear-gradient(top, #9780cc, #6f5e96);
  background-image: linear-gradient(to bottom, #9780cc, #6f5e96);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 2px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 2px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.1);
}

.button:active {
  color: rgba(255, 255, 255, 0.95);
  background: #6f5e96;
  border-color: black #222 #222;
  background-image: -webkit-linear-gradient(top, #6f5e96, #8770b9);
  background-image: -moz-linear-gradient(top, #6f5e96, #8770b9);
  background-image: -o-linear-gradient(top, #6f5e96, #8770b9);
  background-image: linear-gradient(to bottom, #6f5e96, #8770b9);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}