{% extends "base.html" %}

  	{% block script %}
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    		<script>
  			$(function(){
          setTimeout('window.location.reload();', 15000);

    			$( "#selectable" ).selectable({
      				stop: function() {
        				var result = $( "#select-result" ).empty();
        				$( ".ui-selected", this ).each(function() {
          					//var index = $( "#selectable li" ).index( this );
          					var num = $(this).attr("name")
          					result.append( " #" + ( num ) );
        				});
      				}
    			});

    			$("input[type=submit], a, button").button().click(function( event ){
    				var action = $(this).attr("name");

            if (action == "submit-ad") {
              var ad_text = $("input[name='message']").val();
              $.ajax({
                url: "/waiter/submit_ad/",
                type: "POST",
                data: {message: ad_text},
                success: function(json) {
                  console.log(json)
                  location.reload()
                }
              })
              event.preventDefault();
              return;
            }

            console.log("Submit passed")

    				var tables = [];
    				$(".ui-selected").each(function() {
    					tables.push($(this).attr("name"));
    				});
    				//console.log(tables)
    				if (tables.length > 0) {
    					do_status(action, tables);
					}
        			event.preventDefault();
      			});
  			});

  			function do_status(action, tables) {
  				//console.log("Doing status "+action+"!");
  				//console.log("Tables: " + tables)
  				$.ajax({
  					url: "/waiter/set_status/",
  					type: "POST",
  					data: {action: action, 'tables[]': tables},
  					success: function(json) {
  						console.log(json);
  						console.log(json['redirect_order'])
  						if (json.hasOwnProperty("redirect_order")) {
  							console.log("has property")
  							window.location.href = '/view_order/' + json['redirect_order']
  						}
  						else {
  							location.reload();
  						}
  					}
  				});
  			}
  		</script>
	{% endblock %}
{% block style %}


	<link href="css/style.css" rel="stylesheet">
	<style type="text/css">

			#selectable .ui-selecting { background: #F2EBBF; }
			#selectable .ui-selected { background: #8CBEB2; color: F2EBBF; }
			#selectable { list-style-type: none; margin: 0; padding: 0;   }
			#selectable li {
				margin: 3px;
				padding: 1px;
				float: left;
				width: 150px;
				height: 190px;
				font-size: 4em;
				text-align: center;
				font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  				border: 1px solid #ccc;
  				border-color: #5C4B51;
  				background: #FFF7F4;
			}

#rcorners {
    border-radius: 10px;
    border: 2px solid #5C4B51;
    background-color: #FFFFFF;
    width:60%;
	box-shadow: 10px 10px 5px #CCCCCC;
}

th{
	border-radius: 10px;
    border: 1px solid #5C4B51;
    border-collapse: collapse;
    width = 100%;
    background:-o-linear-gradient(bottom, #ffffff 5%, #E6E6FF 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #E6E6FF) );
}
tr{

	width : 50%;

}
button{
  margin:5px;
}
</style>
{% endblock %}

{% block main %}

<h2>Welcome, {{ user.name }} {% if user.is_manager %}(manager view){% endif %}</h2>
{% if user.is_manager %}
<div style="margin: 10px">Advertisement message:<br><input name="message" type="text" value="{{advertisement.message}}" size="50"/> <button name="submit-ad">Submit</button><br></div>
<a href="/kitchen/" onclick="location.href='/kitchen/'"><button>Kitchen View</button></a>
<a href="/kitchen/items/" onclick="location.href='/waiter/statistics/'"><button>Statistics</button></a>
<a href="/kitchen/ingredients/" onclick="location.href='/waiter/order_list/'"><button>Orders List</button></a>
{% endif %}
<a style="float:right"href="/logout/waiter/" onclick="location.href='/logout/waiter/'"><button>Logout</button></a>
<center>
<div id="rcorners">
<table>
	<th>Tables
	</th>
	<tr>
		<td>
			<ol id="selectable">
				{% for table in tables %}
                {% if table.id != 5 %}
				<li class="ui-widget-content" name="{{ table.id }}">{{ table }}{% if table.waiter_set.get != '' %}<br/><span style="font-size: 80%">Waiter: {{table.waiter_set.get}}</span>{% endif %}<br/><span style="font-size: 80%">(Status: {{ table.status_name }})</span>
				<br/>

				{% if table.order_set.get %}{% if table.order_set.get.status != "CL" %}<span style="font-size: 80%">Order: #{{table.order_set.get.id}}</span>{% endif %}
				<br/>
				{% if table.order_set.get.status == "RD" %}
        {% if table.order_set.get.cook_set.get.employee.name %}<span style="font-size: 80%;">Chef: {{ table.order_set.get.cook_set.get.employee.name }}</span><br>{% endif %}
          <span style="font-size: 80%; color: red; font-weight: bold">ORDER READY</span>
        {% endif %}
        {% endif %}
				{% if table.order_set.get.invoice_set.get %}{% if table.order_set.get.invoice_set.get.comped %}
				<span style="color: green; font-weight: bold">COMPED</span>
				{% endif %}{% endif %}
                {% endif %}
				</li>
				{% endfor %}
			</ol>
		</td>
	<tr>
		<td>
			<span>Selected tables:</span> <span id="select-result">none</span>
		</td>
	</tr>
	<tr>
		<td>
			<center>
			<button name="open">Set as Open</button>
			<button name="occupied">Set as Occupied</button>
			<button name="refill">Refill Request Acknowledged</button>
			<button name="assistance">Assistance Rendered</button>
			<button name="vieworder">View Order Details</button>
			{% if user.is_manager %}<button name="comp">Comp Order</button>{% endif %}
			</center>
		</td>
	</tr>
</table>
</div>

{% endblock %}
